<!-- Jquery Core Js -->
    <script src="../static/js/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../static/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../static/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../static/js/jquery.slimscroll.js"></script>
	
	<!-- <!-- Bootstrap Notify Plugin Js --> -->
    <script src="../static/js/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../static/js/waves.js"></script>
	
	<!-- SweetAlert Plugin Js -->
    <script src="../static/js/sweetalert.min.js"></script>

    <!-- Custom Js -->
    <script src="../static/js/admin.js"></script>
	<script src="../static/js/dialogs5.js"></script>

    <!-- Demo Js -->
    <script src="../static/js/demo.js"></script>