 <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#"><strong>Grocery Store</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
					<li><a class="js-search" data-close="true"><strong>Username: {{current_user.username}}</strong></a></li>
                    <li><a href="/logout" class="js-search" data-close="true"><strong>Logout</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
		<!-- User Info -->
        <aside id="leftsidebar" class="sidebar">
			<div class="user-info">
							<div class="image">
								<img src="../static/img/user_logo2.jpg" width="80" height="80" alt="User"/>
							</div>
							<div class='info'>
								<div class="email">{{current_user.email}}</div>
							</div>
			</div>
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li>
                        <a href="/product">
                            <i class="material-icons">home</i>
                            <span>Product</span>
                        </a>
                    </li>
                    <li>
                        <a href="/adjustment">
                            <i class="material-icons">text_fields</i>
                            <span>Adjustment</span>
                        </a>
                    </li>
                    <li>
                        <a href="/purchase">
                            <i class="material-icons">layers</i>
                            <span>Purchase</span>
                        </a>
                    </li>
					<li>
                        <a href="/changepassword">
                            <i class="material-icons">layers</i>
                            <span>Change Password</span>
                        </a>
                    </li>              
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2020 - 2021 <a href="javascript:void(0);">Meghdut Nandy</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->   
    </section>