{% extends 'base.html' %}
{% block title %}Edit Product{% endblock title %}
{% block customcss %}
 <link href="../static/css/all-themes.css" rel="stylesheet">
{% endblock customcss %}

{% set bodyclass="theme-red" %}
{% block content %}
{% include './includes/nav.html' %}   
 <section class="content">
        <div class="container-fluid">
         
            <!-- Vertical Layout | With Floating Label -->
            <!-- Horizontal Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Edit Product
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" method="POST">
								{% if message %}
									<div class="alert {{css_alert_class}} text-center">
										{{message}}
									</div>
								{% endif %}
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">Code</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="code" class="form-control" placeholder="Enter product code" value="{{code}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">Name</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" name="name" class="form-control" placeholder="Enter product name" value="{{name}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">Quantity</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="number" name="quantity" class="form-control" placeholder="Enter quantity" value="{{quantity}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
{% endblock content %}


{% block js %}
{% include './includes/main-js.html' %}
{% endblock js %}